
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    background-color: #46114F;
    background-image: linear-gradient(to bottom, #46114F, #9322a7);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.hide{
    display:none;
}
#herobanner{
    height: auto;
    width: 100%;
    overflow: hidden;
    position:relative;
    display: flex;
}
#hero-image{
    height: auto;
    width:100%;
    position: relative;
    object-fit: cover;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


#quiz-section{
    height: 25vw;
    width:100%;
    overflow: hidden;
    position:relative;
    padding-top: 2vw;
}
.game-container{
    background-color: aqua;
    width: 100vw;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
