@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    background-color: #46114F;
    background-image: linear-gradient(to bottom, #46114F, #9322a7);
    background-repeat: no-repeat;

}
header{
    margin-top: 3vw;
    font-size: 2vw;
    text-align: center;
    color:aqua;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.hide{
    display:none;
}
#herobanner{
    height: auto;
    width: 100%;
    overflow: hidden;
    position:relative;
    display: flex;
    margin-top: 5vw;
}
#hero-image{
    height: auto;
    width:100%;
    position: relative;
    object-fit: cover;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.difficulty-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}
#difficulty-easy{
    flex: 75%;
    margin: 2vw;
    background-color: aqua;
    border-radius: 25px;

}
#difficulty-medium{
    flex: 75%;
    margin: 2vw;
    background-color: aqua;
    border-radius: 25px;
}
#difficulty-hard{
    flex: 75%;
    margin: 2vw;
    background-color: aqua;
    border-radius: 25px;
}

#quiz-section{
    height: auto;
    overflow: hidden;
    position:relative;
    padding-top: 2vw;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}
#game-container{
    background-color: aqua;
    width: 100vw;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}












/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .difficulty-container {
      flex-direction: column;
    }
    #quiz-section{
        width: 75%;
    }
    header{
        -webkit-text-stroke: 0.2px black;
    }
    /* move difficulty below hero image */

  }